.about {
    @media screen and (min-width: 992px) {
        display: flex;
        justify-content: center;
        align-items: center;


        padding: 6rem;
        background-color: var(--mo-gray-light);

        &-visual {
            display: block;
            position: relative;

            flex: 0 0 50%;
            width: 50%;
        }

        &-visual-container {
            display: block;
            z-index: 0;

            position: relative;

            margin: 0 auto;

            width: 50%;

            &:before {
                content: '';

                display: block;

                padding-bottom: 100%;
            }

            &:after {
                content: '';
                display: block;

                position: absolute;
                left: 0;
                top: 0;

                width: calc(100% - 3vw);
                height: calc(100% - 3vw);

                background-color: var(--mo-gray-dark);
            }
        }

        &-image {
            display: block;
            z-index: 1;

            position: absolute;

            right: 0;
            bottom: 0;
            width: calc(100% - 3vw);
            height: calc(100% - 3vw);

            object-fit: cover;
            object-position: center top;

            box-shadow: 0 .5rem .75rem rgba(0, 0, 0, .25);

            filter: brightness(100%) grayscale(100%);
        }

        &-content {
            flex: 0 0 50%;
            width: 50%;
        }

        &-content-container {
            padding-right: calc(1rem + 12vw);
        }

        &-headlines {
            display: inline-block;
            line-height: 1;
            margin-bottom: 1rem;
        }

        &-tagline {
            text-align: right;
            font-weight: 600;
            font-size: calc(.75rem + .375vw);

        }

        &-headline {
            display: inline-block;
            z-index: 1;

            position: relative;

            font-size: calc(.875rem + 2.5vw);
            text-transform: uppercase;

            &:after {
                content: '';
                display: block;
                z-index: -1;

                position: absolute;
                bottom: 0;
                left: 0;

                width: calc(100%);
                height: .375em;

                background-color: var(--mo-primary);
            }
        }
    }
}