.nav {
    @media screen and (min-width: 992px) {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        position: fixed;
        top: 0;
        right: 0;
        width: 66%;
        height: var(--mo-header-height);

        padding-left: var(--mo-header-height);

        background-color: var(--mo-gray-dark);
        box-shadow: 0 .5rem .75rem rgba(0, 0, 0, .25);

        transform: translateX(calc(100% - #{var(--mo-header-height)}));
        transition: transform ease 320ms;

        &-toggle {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            left: 0;
            top: 0;

            height: var(--mo-header-height);
            width: var(--mo-header-height);

            background-color: transparent;
            outline: none;
            border: none;

            font-style: normal;
            font-size: 2rem;
            font-weight: 700;
            color: var(--mo-primary);

            transition: transform ease 320ms;

            &:hover {
                cursor: pointer;
            }
        }

        &-link {
            position: relative;
            z-index: 1;

            padding: .5rem;
            margin: 0 2rem;

            color: white;
            font-weight: 700;
            letter-spacing: .125em;

            text-transform: uppercase;
            text-decoration: none;

            &:after {
                content: '';
                display: block;
                z-index: -1;

                position: absolute;
                bottom: .25rem;
                height: .25em;
                left: .5rem;

                width: calc(100% - 1rem);

                background-color: var(--mo-gray);
                opacity: .25;

                transition: transform ease 180ms;
                transform: scaleX(0);
            }

            &:hover:after {
                transform: scaleX(1);
            }

            &.active:after {
                background-color: var(--mo-primary);
                opacity: 1;

                transform: scaleX(1);
            }
        }

        &:not([data-hidden]) {
            transform: translateX(0);

            .nav-toggle {
                transform: rotate(90deg);
            }
        }
    }
}